<div id="column_wrap" class="column_wrap_bar" style=" height: 391px;">
	<div class="column" id="column_bar">
		<ul>
			<li style = "list-style-type:none"><p><b>Organizations</b></p>
				<% if @organizations.size > 0 %>
					<% @organizations.each do |o| %>
					<ul>
						<li><%= link_to_remote o.org_name, :url => project_user_in_org_path(o), :method => :get %> </li>
					</ul>
					<% end %>
				<% else %>
					<p>No Organization</p>
				<% end %>
			</li>
		</ul>
	</div>
</div>
