<select >
	<% if @organizations.size > 0 %>
		<% @organizations.each do |o| %>
			<option><%= o.org_name %> </option>
		<% end %>
	<% else %>
		<option>No Organization</option>
	<% end %>	
</select>

