<div class="organization_users" >
	<h3 style="text-align: center">Users in <%= @organizations.org_name%></h3>
	<table cellpadding="3" cellspacing="3" align="center" width="50%" style="text-align: center">
		<% if @users.size > 0 %>
			<tr>
				<th>Name</th>
				<th>Email</th>
			</tr>
			<% @users.each do |u| %>
				<tr>
					<td><%= u.first_name%> </td>
					<td><%= u.email%></td>
				</tr>
			<% end %>
		<% else %>
			<tr><h3>No User</h3></tr>
		<% end %>
	</table>
	
</div>
