<table>
	<tr>
		<td><%= select(nil, :organization,[['Organization 1', 1],['Organization 2',2]],{:include_blank => true}, :onchange =>remote_function(:url =>{:action => "update_project_div"},:with => "'org_id='+ value",:update => "org_projects_div"))%></td>
		<td><%= render "org_project_partial"%></td>
	</tr>
</table>

