<%= render :partial => 'header'%>
<%= render :partial => 'navigation_bar'%>

<div id="main_div" style="margin-left: 300px">
	<% unless flash[:notice].blank?%>
		<div style="background-color: #cfcfcf; border: 1px solid;padding: 5px;margin: 10px 0"><%= flash[:notice]%></div>
	<% end %>
	<div id="projects_div">
		
	</div>
	<div id="users_div">
		
	</div>
</div>
