<div id="column_wrap" class="column_wrap_bar" >
	<div class="column" id="column_bar">
		<ul>
			<li style = "list-style-type:none"><p><b>Organizations</b></p>
				<% if @projects.size > 0 %>
					<% @projects.each do |p| %>
					<ul>
						<li><%= link_to_remote o.org_name %> </li>
					</ul>
					<% end %>
				<% else %>
					<p>No Projetcs assigned to you</p>
				<% end %>
			</li><br />
			<li style="list-style-type: none"><%= link_to_remote "+ New Organization" %> </li>
		</ul>
	</div>
</div>
